# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>
- Python
- R
- Pandas
- Numpy
- Data Science Tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. C++
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Keras
5. Tensorflow

|Data Science Tools|
|---|
|Jupyter Notebook|
|VS Code|
|Google Colab|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5 # This a simple arithmetic expression to mutiply then add integers

17

In [3]:
200/60 # This will convert 200 minutes to hours by diving by 60

3.3333333333333335

## Author
Blyzniuk Arsen